@import "tailwindcss";

@theme {
	/* Colors */
	--color-cream: #F9F8F4;
	--color-orange-brand: #FF5D2A;
	--color-dark: #191817;
	
	--color-gray-50: #F9FAFB;
	--color-gray-100: #F3F4F6;
	--color-gray-200: #E5E7EB;
	--color-gray-300: #D1D5DB;
	--color-gray-400: #9CA3AF;
	--color-gray-500: #6B7280;
	--color-gray-600: #4B5563;
	--color-gray-700: #374151;
	--color-gray-800: #1F2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

	--font-serif: "Instrument Serif", serif;
	--font-sans: "Inter", sans-serif;
}

body {
	background-color: var(--color-cream);
	font-family: var(--font-sans);
	color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-serif);
}

